=form_for @model do |f|
  -if @model.errors.any?
    #error_explanation
      %h2="#{pluralize(@model.errors.count, "error")} prohibited this task from being saved:"
      %ul
        -@model.errors.full_messages.each do |msg|
          %li= msg

  .field
    =f.label :name
    =f.text_field :name

  -if @model.persisted?
    .field
      =f.label :completed
      =f.check_box :completed

  .field
    =f.collection_select :list_id, List.all, :id, :name

  .actions
    =f.submit 'Save'
